<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="/static/js/bpmn/dist/favicon.ico">
    <title>bpmn-test</title>
    <link href="/static/js/bpmn/css/bpmn_font.css"  rel="stylesheet">
    <link href="/static/js/bpmn/css/bpmn.css"  rel="stylesheet">
    <link href="/static/js/bpmn/css/diagram-js.css"  rel="stylesheet">
    <link href="/static/js/bpmn/dist/static/css/app.css" rel="preload" as="style">
    <link href="/static/js/bpmn/dist/static/css/chunk-vendors.css" rel="preload" as="style">
    <link href="/static/js/bpmn/dist/static/js/app.js" rel="preload" as="script">
    <link href="/static/js/bpmn/dist/static/js/chunk-vendors.js" rel="preload" as="script">
    <link href="/static/js/bpmn/dist/static/css/chunk-vendors.css" rel="stylesheet">
    <link href="/static/js/bpmn/dist/static/css/app.css" rel="stylesheet">
</head>
<body>
    <noscript><strong>We're sorry but bpmn-test doesn't work properly without JavaScript enabled. Please enable it to continue.</strong></noscript>
    <div id=app></div>
<script src="/static/js/bpmn/dist/static/js/chunk-vendors.js"></script>
<script src="/static/js/bpmn/dist/static/js/app.js"></script>
<script src="/static/js/libs/jquery-3.2.1.min.js"></script>
<script src="/static/js/common.js"></script>
</body>
</html>